<div class="container mt-4" >
    <h1>STUDENT Registation</h1>
    <div class="card">
          
  <form>
  
    <div class="form-group">
      <label >Student Name</label>
      <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" id="studentname" name="studentname" placeholder="Enter Name">
    </div>
    
    <div class="form-group">
        <label >Address</label>
        <input type="text" (ngModel)]="address" [ngModelOptions]="{standalone: true}" class="form-control" id="studentaddress" name="studentaddress" placeholder="Enter Address">
      </div>
  
      <div class="form-group">
        <label >fee</label>
        <input type="text" (ngModel)]="fee" [ngModelOptions]="{standalone: true}" class="form-control" id="fee" name="text" placeholder="Enter Fee">
      </div>
  
      <button type="submit" class="btn btn-primary mt-4" (click)="saveRecords()" >Save</button> &nbsp;
      <button type="submit" class="btn btn-warning mt-4" >Update</button>
  </form>
  </div>
  </div>
  
 
